<div style="text-align: center;">
  <a mat-raised-button color="primary" routerLink="/create">Créer figurine</a>
  <mat-slide-toggle style="padding-left: 2rem;" (change)="toggleFavoris($event.checked)">Favoris</mat-slide-toggle>
  <mat-slide-toggle style="padding-left: 2rem;" (change)="toggleDone($event.checked)">Terminé</mat-slide-toggle>

  <mat-form-field appearance="fill" style="padding-left: 2rem;">
    <mat-label>Catégorie</mat-label>
    <mat-select #typeValue (selectionChange)="selectCategory($event.value)">
      <mat-option value="">Toutes</mat-option>
      <mat-option *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="getFigurinesData($event)">
</mat-paginator>


<mat-accordion *ngIf="figurines.length > 0 && !isLoading">
  <!--Conteneur des tuiles par figurines-->
  <mat-card *ngFor="let figurine of figurines">
    <!--Header-->
    <mat-card-header>
      <!--Titre-->
      <mat-card-title>
        {{ figurine.name }}
        <button mat-icon-button
          *ngIf="figurine.isFavoris"
          color="warn"
          style="position: absolute; right: 10px;"
          (click)="setFavoris(figurine.id, figurine.isFavoris)">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button
          *ngIf="figurine.isFavoris != true"
          color="warn"
          style="position: absolute; right: 10px;"
          (click)="setFavoris(figurine.id, figurine.isFavoris)">
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-icon-button
          *ngIf="figurine.painted != true"
          color="primary"
          style="position: absolute; right: 40px;"
          (click)="setPainted(figurine.id, figurine.painted)">
          <mat-icon>brush</mat-icon>
        </button>
        <button mat-icon-button
          *ngIf="figurine.painted"
          color="primary"
          style="position: absolute; right: 40px;"
          (click)="setPainted(figurine.id, figurine.painted)">
          <mat-icon>done</mat-icon>
        </button>
      </mat-card-title>

      <!--Sous titre-->
      <mat-card-subtitle>
        {{ figurine.categorie }}
      </mat-card-subtitle>
    </mat-card-header>

    <!--Image-->
    <!--Image-->
    <div class="figurine-image">
      <img [src]="figurine.imagePath" [alt]="figurine.name">
    </div>

    <!--Boutons d'actions-->
    <mat-card-actions>
      <a mat-button color="primary" [routerLink]="['/paint', figurine.id]">Peindre</a>
      <a mat-button color="secondary" [routerLink]="['/edit', figurine.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(figurine.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</mat-accordion>

<p class="info-text mat-body-1" *ngIf="figurines.length == 0">Aucune Fgurine</p>
